doctype html
head
    link(rel='stylesheet', href='/stylesheets/curriculum-vitae.css')
body
    div(class='container')
        form(method='POST')
            button(class='myButton' type='submit')='DOWNLOAD CV'

