extends layout

block content
  body
    div(class='aboutMe')= 'Hi welcome on my  name is Marek. My adventure with programming now is over one year. I really enjoy it and I want more. My major technologies are Java, Spring but also I try my strength with frontend skills like HTML5, CSS3, JavaScript. Here you can find some projects of mine, find contact, or download CV. This is my first site is not perfect but I will try upgrade it in my free time. Feel welcome and enjoy :)'
    link(rel='stylesheet', href='/stylesheets/index.css')

