doctype html
mixin item (url ,title)

    li
        a(href=url class= path === url ? 'active' : "")=title

html
    head
        title= title
        url= url
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        ul
            +item('/', 'Index')
            +item('/questionnaire','Questionnaire')
            +item('/news','News')
            +item('/admin','Admin')

    block content
