doctype html
head
    link(rel='stylesheet', href='/stylesheets/login.css')
body
     div(class='container')
        h1= title
        form(method='POST')
            div(id='user')
                label User
                br
                input(type='text' name='user')
            div
            div(id='password')
                label Password
                br
                input(type='password' name='password')
            div(id='login-btn')
                input(type='submit' value='Login')