block content
    h1= title
    p Welcome to #{title}
    form(method='POST')
        label User
        br
        input(type='text' name='user')
        br
        label Password
        br
        input(type='password' name='password')
        br
        input(type='submit' value='Login')