doctype html
head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js")
    link(rel='stylesheet', href='/stylesheets/mail.css')
body
    div(class='container')
        h1(class='text')
            span(class='text-wrapper')
            span(class='letters')='marek.rydzewski1@gmail.com'
script
    include ../public/javascripts/special-effect.js

