
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */