body {
    background-color: #111111;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle {
    /*background-color: #156dbe;*/
    clear: both;
    text-align: center;
}

#logo {
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    font-size: 65px;
    width: 600px;
    text-align: left;
}

#clock {
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    font-size: 65px;
}

.square {
    width: 50%;
    float: left;
}

.tile1 {
    background-color: blue;
    margin: 10px;
    width: 230px;
    height: 135px;
    float: left;
    text-align: center;
}

.tile2 {
    background-color: grey;
    margin: 10px;
    width: 230px;
    height: 135px;
    float: left;
    text-align: center;
}

.tile3 {
    background-color: chartreuse;
    margin: 10px;
    width: 230px;
    height: 135px;
    float: left;
    text-align: center;
}

.tile4 {
    background-color: darksalmon;
    margin: 10px;
    height: 135px;
    width: 480px;
    float: left;
}

.tile5 {
    background-color: blueviolet;
    margin: 10px;
    height: 290px;
    width: 480px;
}

.linkedIn {
    background-color: brown;
    margin: 10px;
    width: 105px;
    height: 135px;
    float: left;
    text-align: center;

}

.fb {
    background-color: brown;
    margin: 10px;
    width: 105px;
    height: 135px;
    float: left;
    text-align: center;
}

.gitHub {
    background-color: brown;
    margin: 10px;
    width: 105px;
    height: 135px;
    float: left;
    text-align: center;
}

.gmail {
    background-color: brown;
    margin: 10px;
    width: 105px;
    height: 135px;
    float: left;
    text-align: center;
}