body {
    background-color: #303030;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle {
    clear: both;
    text-align: center;
}

#logo {
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    font-size: 65px;
    width: 554px;
    text-align: left;
}

#clock {
    margin-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    font-size: 47px;
}

.square {
    width: 50%;
    float: left;
}

.tile1 {
    background-color: #008000;
    margin: 10px;
    width: 230px;
    height: 135px;
    float: left;
    text-align: center;
}
.tile1:hover{
    background-color: #007000;
}

.tile1 a {
    display: block;
    width: 230px;
    height: 135px;
    color: white;
    text-decoration: none;
}
.tile2 {
    background-color: #2E64FE;
    margin: 10px;
    width: 230px;
    height: 135px;
    float: left;
    text-align: center;
}
.tile2:hover {
    background-color: #1D53ED;
}

.tile2 a {
    display: block;
    width: 230px;
    height: 135px;
    color: white;
    text-decoration: none;
}
.tile3 {
    background-color: #DF7401;
    margin: 10px;
    width: 230px;
    height: 135px;
    float: left;
    text-align: center;
}
.tile3:hover {
    background-color: #CE6300;
}

.tile3 a {
    display: block;
    width: 230px;
    height: 135px;
    color: white;
    text-decoration: none;
}

.tile4 {
    background-color: darksalmon;
    margin: 10px;
    height: 75px;
    width: 420px;
    float: left;
    padding: 30px;
    text-align: center;
    line-height: 150%;
}


.tile5 {
    background-color: #2b67e2;
    margin: 10px;
    height: 240px;
    width: 460px;
    padding: 30px 10px 20px;
    font-size: 23px;
    font-family: URW Chancery L, cursive;
    text-align: center;
}

.linkedIn {
    background-color: #0e76a8;
    margin: 10px;
    width: 147px;
    height: 135px;
    float: left;
    text-align: center;
}


.linkedIn:hover{
    background-color: #0d65a7;
}

.linkedIn a {
    display: block;
    width: 147px;
    height: 135px;
    color: white;
    text-decoration: none;
}

.gitHub {
    background-color: #211F1F;
    margin: 10px;
    width: 147px;
    height: 135px;
    float: left;
    text-align: center;
}
.gitHub:hover{
    background-color: #100E0E;
}

.gitHub a {
    display: block;
    width: 147px;
    height: 135px;
    color: white;
    text-decoration: none;
}
.gmail {
    background-color: #D44638;
    margin: 10px;
    width: 146px;
    height: 135px;
    float: left;
    text-align: center;
}
.gmail:hover{
    background-color: #C33527;
}

.gmail a {
    display: block;
    width: 146px;
    height: 135px;
    color: white;
    text-decoration: none;
}

.box {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 230px;
    height: 135px;
    text-align:center;
}
.box .fadedbox {
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 230px;
    height: 135px;
}
.box:hover .fadedbox { opacity: 0.8; }
.box .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
}
.box .title {
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}
.box:hover .title,
.box:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.text {
    width: 230px;
    color: #ff0000;
    font-weight: bolder;
    font-size: 24px;
}