html {
    background: url("../images/mr.jpg") no-repeat center center fixed;
    background-repeat: no-repeat, no-repeat;
    background-size: 35% 100%;
    background-position: left top, right top;
}

body {
    font-family: "azo-sans", serif;

}

.aboutMe {
    color: #156dbe;
    position: absolute;
    width: 35%;
    right: 198px;
    top: 102px;
    font-size: 27px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: -.02em;
    font-weight: 700;
    font-style: normal;
}