body {
    background-color: #111111;
    margin: 0;
    font-size: 20px;
    font-family: 'Alegreya SC', serif;
    color: white;
}

#logo {
    width: 100%;
    height: 50px;
    font-size: 36px;
    color: white;
    background-color: #0E765F;
    text-align: center;
    padding: 5px 0 5px 0;
    border-bottom: 2px solid #0d654E;
    letter-spacing: 4px;
    text-shadow: 2px 2px 0 #0C654D,
    -3px 3px 0 #0C654D;, - 2 px - 2 px 0 #0C654D;, 2 px - 2 px 0 #0C654D;
}

#container {
    background-color: #fff;
    width: 882px;
    margin-left: auto;
    margin-right: auto;
    /*height: 1000px;*/
    /*Taken from https://www.toptal.com/designers/subtlepatterns/*/
    background-image: url('../images/cork-wallet.png');
    padding: 6px;
    border-left: 3px solid #c3c9c1;
    border-right: 3px solid #c3c9c1;
}

#table-content {
    width: 567px;
    background-color: olivedrab;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 315px;
    margin-left: auto;
    margin-right: auto;
}

ol {
    margin-top: 15px;
    display: block;
}

ol > li {
    font-size: 22px;
    font-weight: 700;
}

ol > li > ul {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 5px;
    list-style-type: none;
}

ol > li > ul > li:before {
    font-size: 15px;
    content: "â‘";
    color: #2038c9;
}

ol > li > ul > li {
    margin: 0;
    color: #111111;
}

ol > li > ul > li > a {
    text-decoration: none;
}

ol > li > ul > li > a:hover{
    text-decoration: none;
    border: 1px solid saddlebrown;
}

ol > li > ul > li > a:link{
    color: #111111;
}

ol > li > ul > li > a:active{
    color: #1D53ED;
}

ol > li > ul > li > a:visited{
    color: #D44638;
}

.slide {
    color: #111111;
}

h2 {
    text-align: center;
}

#files-changer {
    content: url(../images/file-changer.jpg);
    float: left;
    width: 480px;
    height: 350px;
    padding-left: 20px;
}

.description {
    float: left;
    width: 280px;
    text-align: left;
    padding-left: 45px;
}

#batman-sql-game {
    content: url("../images/batman.jpg");
    float: left;
    width: 480px;
    padding-left: 20px;
}

#kamien-papier-nozyce {
    content: url("../images/rock-paper-scissors.jpg");
    float: left;
    width: 480px;
    height: 300px;
    padding-left: 20px;
}

#my-portfolio {
    content: url("../images/my-portfolio.png");
    float: left;
    width: 480px;
    height: 325px;
    padding-left: 20px;
}